<%- include('partials/Head.ejs') -%>
<title>x store (exhibition)</title>
<%- include('partials/Navbar.ejs') -%>
<div class="container my-5">
  <h1 class="mb-4">Registration</h1>
  <% if (message.type ) { %>
  <h2 class="alert alert-<%= message.type == 'success' ? 'success' : 'danger' %>"><%= message.body %></h2>
  <% } %>
  <form method="POST" action="/register">
    <div class="form-group">
      <label for="name">User's name<span class="text-primary">*</span></label>
      <input type="text" class="form-control <%= errors.name ? 'is-invalid' : '' %>" name="name" id="name"
        value="<%= formData.name %>" minlength="2" maxlength="64">
      <% if (errors.name) { %>
        <div class="invalid-feedback"><%= errors.name[0] %></div>
      <% } %>
    </div>
    <div class="form-group">
      <label for="email">Email address<span class="text-primary">*</span></label>
      <input type="email" class="form-control <%= errors.email ? 'is-invalid' : '' %>" id="email" name="email"
        value="<%= formData.email %>" maxlength="128">
      <% if (errors.email) { %>
      <div class="invalid-feedback"><%= errors.email[0] %></div>

      <% } %>
    </div>
    <div class="form-group">
      <label for="password">Password<span class="text-primary">*</span></label>
      <input type="password" class="form-control <%= errors.password ? 'is-invalid' : '' %>" name="password"
        id="password" value="<%= formData.password %>">
      <% if (errors.password) { %>
      <div class="invalid-feedback"><%= errors.password[0] %></div>

      <% } %>
    </div>
    <div class="form-group">
      <label for="repeat_password">Repeat Password<span class="text-primary">*</span></label>
      <input type="password" class="form-control " name="repeat_password"
        id="repeat_password" >

    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>


<%- include('partials/Foot.ejs') -%>
